<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li>
        <p class="style">{{ jokes.setup }}</p>
      </li>
      <li>
        <p class="style">{{ jokes.punchline }}</p>
      </li>
    </ul>
  </div>
  <div class="shadow p-3 mb-5 bg-light pull-right">
    <img src="http://www.animatedimages.org/data/media/1309/animated-laughing-image-0175.gif" class="img-fluid gif" alt="Responsive image">
  </div>
</div>

